@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  display: grid;
  align-content: space-between;
  height: 100%;
  width: 100%;
  place-items: center;
  /* background: -webkit-linear-gradient(left, #ffb091, #FFFFFF); */
  /* Add image */
  background-image: url(
    "./static/img.jpg");
      
            /* Make image center */
            background-position: center center;
      
            /* Make image fixed */
            background-attachment: fixed;
      
            /* Not repeat images */
            background-repeat: no-repeat;
      
            /* Set background size auto */
            background-size: auto;
}

::selection {
  background: #337ab7;
  color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
 }
.wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 390px;
  background: rgba(0, 0, 0, 0.700);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  color: white;
  width: 50%;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
select {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: #337ab7; /*CHANGED --------------------------------------------------------------------*/
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  color: white;
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #337ab7; /*CHANGED --------------------------------------------------------------------*/
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient( /*CHANGED -------------------------*/
    right,
    #337ab7,
    #337ab7,
    #337ab7,
    #337ab7
  );
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
#error-log {
  margin-top: 20px;
  color: red;
}
#success-log {
  margin-top: 20px;
  color: #337ab7;
}
#link-to-login {
  color: #337ab7;
  text-align: center;
}
#container-link-to-login {
  margin-top: 20px;
}