* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    background-image: url(./img.jpg);
}

table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    
}

td, th {
    width: 25%;
    vertical-align: top;
    border: 1px solid #000; 
    padding: 0.3em;
    text-align: center;
    background-color: #f2f2f2;
}

th{
    background-color: blue;
    color: white;
}

h1, h2{
    text-align: center;
}
div.boton_logout {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 3;
}
div.botones1 {
    text-align: center;
}

.fondo{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-top: -200px;
}
a{
    text-decoration: none;
    color: #000080;
}
button {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

div.boton_logout {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 3;
}
div.botones1 {
    text-align: center;
}

.botones {
    margin-top:10px
}
.botones button {
    margin-top:10px

}
.container3 {
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    position: relative;
    margin:auto;
    margin-top: 100px;
    border-radius: 20px;
}
.contenedor{
    overflow: auto;
}
.titulo{
    margin-left: 90px;
}
@media screen and (max-width: 600px) {
    .container2, .container3 {
        width: 100%;
        z-index: -1;
    }
    .logo1 img {
        width: 50px;
        height: 50px;
    }

    .col-25, .col-75, input[type=submit], button:not(.evento) {
        width: 100%;
        margin-top: 0;
    }
    table {
        width: 70%;
        margin-top: 0;
    }
    .img_fondo{
        width: 100%;
        height: 1200px;
    }
}
