body,
html {
  height: 100%;
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Garamond";
  font-weight: bold;
  font-size: 18px;
}
div.background {
  background-image: url("fondo_construccion.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.imageForm {
  background-image: url("fondo_pedido.jpg");
  opacity: 0.8;
  color: white;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  //background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin-bottom: 2%;
  font-size: 40px;
}
input[type="submit"] {
  background-color: gray;
  color: white;
  padding: 0.6% 1%;
}
.required, .error {
  color: red;
}
input {
  margin-bottom: 2%;
}
