body{
    background-image:url('../images/img.jpg');
    font-family:'Roboto', sans-serif;
    color:white;
}
.container{
    background: rgba (255,255,255,0.925);
    margin-top:5%;
    margin-left:30%;
    /* padding:0.4em; */
    width:768px;
    border-radius:10px;
}
form{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:1em 0;
    padding:1em;
    width:auto;
    overflow:hidden;
    width:430px;
}
label.pass{
    float:left;
    text-align:left;
}
ul li div.controles{
    margin-left:160px;
}
div input.btn{
    /* border-top:1px solid #ccc; */
    clear:both;
    float:none;
    padding:1em 0;
    text-align:center;
    width:100%;
}
div input.btn:hover{
    background-color:transparent;
}
